@model Apple_Clone_Website.Models.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Gender
            </th>
            <th>
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="max-width: 5rem">
                @Html.DisplayFor(model => model.Username)
            </td>
            <td style="max-width: 5rem">
                @Html.DisplayFor(model => model.Email)
            </td>
            <td style="max-width: 5rem">
                @Html.DisplayFor(model => model.Phone)
            </td>
            <td style="max-width: 5rem">
                @Html.DisplayFor(model => model.Gender)
            </td>
            <td style="max-width: 5rem">
                @Html.DisplayFor(model => model.Country)
            </td>
            <td style="max-width: 5rem">
                @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, htmlAttributes: new { @class = "my-1 w-100 btn btn-dark" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.UserID }, htmlAttributes: new { @class = "my-1 w-100 btn btn-dark" })
            </td>
        </tr>
    </tbody>
</table>