@using Apple_Clone_Website.Models
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

    
<table class="table  table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                IsNew
            </th>
            <th>
                Image
            </th>
            <th>
                Category
            </th>
            <th>
                Color
            </th>
            <th>
                Supplier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            var imageSrc = @Html.DisplayName(i.Image) + ".jpg";

            <tr>
                <td style="max-width: 5rem">
                    @Html.DisplayFor(modelItem => i.Name)
                </td>
                <td style="max-width: 5rem">
                    @Html.DisplayFor(modelItem => i.UnitPrice)
                </td>
                <td style="max-width: 5rem">
                    @Html.DisplayFor(modelItem => i.Description)
                </td>
                <td style="max-width: 5rem">
                    @Html.DisplayFor(modelItem => i.IsNew)
                </td>
                <td style="max-width: 5rem">
                    <img style="max-height: 10rem" src="~/Content/Images/Products/@imageSrc" alt="Product" />
                </td>
                <td style="max-width: 5rem">
                    @Html.DisplayFor(modelItem => i.CategoryID)
                </td>
                <td style="max-width: 5rem">
                    @Html.DisplayFor(modelItem => i.ProductColorID)
                </td>
                <td style="max-width: 5rem">
                    @Html.DisplayFor(modelItem => i.SupplierID)
                </td>
                <td style="max-width: 5rem">
                    @Html.ActionLink("Edit", "Edit", new { id = i.ProductID.Trim() }) |
                    @Html.ActionLink("Details", "Details", new { id = i.ProductID.Trim() }) |
                    @Html.ActionLink("Delete", "Delete", new { id = i.ProductID.Trim() })
                </td>
            </tr>
        }
    </tbody>  
</table>